.buttonPrimary {
  background: var(--color-gradient);
  text-shadow: 1px 1px 12px #979797;
  color: black;
  padding: 20px 30px;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}

.buttonPrimary:hover {
  background: var(--color-green);
}

.buttonReverse {
  position: relative;

  text-shadow: 1px 1px 12px #979797;

  padding: 20px 30px;
  border: 0px;
  font-size: 17px;
  color: white;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.buttonReverse::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--color-gradient);
  mask:
    linear-gradient(#000 0 0) exclude,
    linear-gradient(#000 0 0) content-box;
}

.buttonReverse:hover {
  background: var(--color-green);
}
