.toastContainer {
  position: fixed; /* Cambiamos absolute por fixed */
  right: 20px;
  top: 20px;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 120px;
  animation: slideIn 0.3s ease-out forwards;
  overflow: hidden; /* Añadimos overflow hidden */
}

/* Añadimos un wrapper para el toast */
.toastWrapper {
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none; /* Permite hacer click en elementos debajo */
  z-index: 9999;
  overflow: hidden; /* Previene scrollbars */
  width: calc(400px + 40px); /* Ancho del toast + margen */
  height: calc(120px + 40px); /* Alto del toast + margen */
}


.toastContainer.hiding {
  animation: slideOut 0.3s ease-in forwards;
}
.toastBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: calc(100% - 7px);
  color: white;
  gap: 20px;
}
.toastLoad {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: blue;
  height: 10px;
  border-bottom-left-radius: 5px;
}
.toastIcon {
  width: 40px;
  height: 40px;
}
.toastContent {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.toastContent h3 {
  margin: 0;
}
.toastLoad {
  background: rgba(255, 255, 255, 0.5);
}

.toastLoadAnimation {
  width: 100%;
  animation: toastProgress linear forwards;
}

@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
